.jumbotron {
  margin-bottom: 0;
  padding-bottom: 0; }
  .jumbotron .sheet {
    background-color: #fff;
    margin: -100px 120px 0;
    padding: 100px 70px; }
  .jumbotron h1 {
    font-size: 30px;
    font-weight: bold; }
    .jumbotron h1 strong {
      color: #3b5a76; }
  .jumbotron div.center-img {
    display: flex;
    align-items: center;
    justify-content: center; }

header {
  text-align: center;
  margin: 30px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc; }

footer {
  background-color: #3b5a76; }
  footer .container {
    background-color: #3b5a76; }
  footer p {
    margin: 0;
    padding: 20px 0;
    color: #fff;
    font-size: 20px; }

h2 {
  color: #3b5a76;
  font-weight: bold;
  font-size: 28px; }

ul {
  list-style: none; }
  ul a {
    color: #333; }
  ul a:hover {
    color: #3b5a76;
    text-decoration: none;
    font-size: 20px; }

div.row.bg-gray {
  background: #ededed;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 10px; }
  div.row.bg-gray p {
    font-size: 16px;
    margin: 5px; }
