h2 {

	color: $blue-color;

	font: {

		weight: bold;
		size: 28px;
	}
}

ul {

	list-style: none;

	a {

		color: $black-color-text;
	}

	a:hover {

		color: $blue-color;
		text-decoration: none;
		font-size: 20px;
	}
}

div {

	&.row.bg-gray {

		background: $gray-color;
		border-radius: 10px;
		margin-top: 15px;
		font-size: 10px;

		p {

			font-size: 16px;
			margin: 5px;
		}
	}
}