.jumbotron {

	margin-bottom: 0;
	padding-bottom: 0;

	.sheet{

		background-color: #fff;
		margin: -100px 140px 0;
		padding: 100px 50px 40px;
	}

	h1 {

		font: {

			size: 26px;
			weight: bold; 
		}

		strong {
			
			color: $blue-color;
		}
	}

	h2 {

		color: $blue-color;

		font: {

			weight: bold;
			size: 25px;
		}
	}

	div {

		&.center-img {

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.sheet {

			border: 1px solid #ccc;
		}
	}
}


@media screen and (max-width: 1100px) {
	
	.jumbotron {

		.sheet

		h1 {

			font-size: 20px;
		}

		h2 {

			font-size: 20px;
		}
	}
}

@media screen and (max-width: 800px) {
	
	.jumbotron {

		.sheet {

			margin: -100px 40px 0;
			padding: 100px 30px 40px;
		}
	}
}